@import url("https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700");

p,
ol,
ul {
    margin: 0px;
}

ol,
ul {
    padding-inline-start: 1.5em;
}

.main {
    margin: auto;
    justify-content: space-between;
    gap: 97px;
    width: 1440px;
    height: 1024px;
    box-sizing: border-box;
    background-color: rgba(116, 223, 213, 1);
    display: flex;
    font-family: DM Sans;
}

.container {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    background-color: rgba(217, 229, 243, 1);
    position: relative;
    padding-top: 549px;
    box-sizing: border-box;
    height: 100%;
}

.layout-33,
.layout-32 {
    height: 100%;
}

.layout-39,
.layout-2,
.layout-37,
.layout-36 {
    width: 100%;
}

.vector-4 {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: rgba(184, 204, 228, 1);
    position: relative;
    padding-bottom: 94px;
    padding-top: 155px;
    box-sizing: border-box;
    height: 100%;
}

.vector-41 {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
}

.vector-51 {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    position: relative;
    padding-right: 192px;
    padding-left: 1175px;
    padding-bottom: 26px;
    padding-top: 83px;
    box-sizing: border-box;
    height: 100%;
}

.vector-5 {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
}

.hai-gi-un-account {
    color: rgba(45, 34, 76, 1);
    width: 200px;
    height: 13px;
    line-height: 1;
    text-align: center;
    top: 105px;
    left: 636px;
    position: absolute;
}

.hai-gi-un-account-text-0x {
    display: inline;
    text-decoration: underline;
    line-height: 1;
    font-weight: 400;
    font-size: 13px;
}

.accedi-text-1x {
    display: inline;
    text-decoration: underline;
    line-height: 1;
    font-weight: 700;
    font-size: 13px;
}

.registrati {
    width: 111px;
    height: 20px;
    right: 646px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    line-height: 1;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    top: 14px;
}

.box_6 {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    gap: 4px;
    position: relative;
    box-sizing: border-box;
}

.polygon-1x {
    box-sizing: border-box;
    height: 84px;
    width: 73px;
}

.ellipse-1 {
    border-radius: 9999px;
    background-color: rgba(217, 229, 243, 1);
    box-sizing: border-box;
    height: 29px;
    width: 29px;
}

.vector-11 {
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    right: 0;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    left: 0;
    position: absolute;
    padding-right: 173px;
    padding-left: 1156px;
    padding-bottom: 52px;
    padding-top: 18px;
    box-sizing: border-box;
    height: 128px;
    width: 1440px;
}

.vector-1 {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
}

.box_17 {
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    gap: 33px;
    box-sizing: border-box;
}

.vector-2x {
    box-sizing: border-box;
    height: 58px;
    width: 20px;
}

.rectangle-4 {
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    height: 56px;
    width: 5px;
}

.vector-3 {
    box-sizing: border-box;
    height: 58px;
    width: 20px;
}

.layout-35 {
    width: 100%;
}

.layout-34 {
    width: 100%;
}


.rectangle-3 {
    bottom: 78px;
    right: 197px;
    justify-content: center;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 42px;
    padding-top: 25px;
    box-sizing: border-box;
    height: 96px;
    width: 63px;
}

.ellipse-11 {
    border-radius: 9999px;
    background-color: rgba(217, 229, 243, 1);
    box-sizing: border-box;
    height: 29px;
    width: 29px;
}

.rectangle-1 {
    border-radius: 13px;
    padding-right: 1266px;
    padding-bottom: 32px;
    padding-left: 51px;
    padding-top: 42px;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    box-shadow: 0px 0px 0px 0px black inset;
    background-color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 4px 18px -6px rgba(0, 87, 255, 1));
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    height: 127px;
    width: 1440px;
}

.area-admin {
    position: absolute;
    left: 85%;
    bottom: 40%;
}

.group-1 {
    width: 123px;
    height: 52px;
    box-sizing: border-box;
}

.rectangle-9 {
    border-radius: 19px;
    padding-right: 47px;
    padding-bottom: 103px;
    padding-left: 36px;
    padding-top: 46px;
    margin-right: auto;
    margin-left: auto;
    bottom: 161px;
    right: 0;
    box-shadow: 0px 0px 0px 1px rgba(19, 64, 119, 1) inset;
    background-color: rgba(255, 255, 255, 1);
    left: 0;
    position: absolute;
    box-sizing: border-box;
    width: 662px;
}

#accedi-rectangle-9 {
    bottom: 291px;
}


.box_16 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: 8px;
    box-sizing: border-box;
}

.inserisci-il-nome {
    width: 103px;
    height: 13px;
    color: rgba(35, 31, 32, 1);
    text-align: center;
    line-height: 1;
    font-weight: 700;
    font-size: 13px;
}

.mario {
    height: 20px;
    margin-top: 11px;
    color: rgba(204, 204, 204, 1);
    text-align: left;
    line-height: 1;
    font-weight: 400;
    font-size: 20px;
    border: none;
}

.line-1x {
    outline-color: rgba(45, 34, 76, 1);
    outline-width: 1px;
    outline-style: solid;
    box-sizing: border-box;
    height: 0;
    width: 579px;
}

.inserisci-il-cognome {
    width: 126px;
    height: 13px;
    margin-top: 25px;
    color: rgba(35, 31, 32, 1);
    text-align: left;
    line-height: 1;
    font-weight: 700;
    font-size: 13px;
}

.rossi {
    height: 20px;
    margin-top: 11px;
    color: rgba(204, 204, 204, 1);
    text-align: left;
    line-height: 1;
    font-weight: 400;
    font-size: 20px;
    border: none;
}

.line-4x {
    outline-color: rgba(45, 34, 76, 1);
    outline-width: 1px;
    outline-style: solid;
    box-sizing: border-box;
    height: 0;
    width: 579px;
}

#reset-pasword-rectangle-9 {
    bottom: 391px;
}

.inserisci-lemail {
    width: 99px;
    height: 13px;
    margin-top: 18px;
    color: rgba(35, 31, 32, 1);
    text-align: left;
    line-height: 1;
    font-weight: 700;
    font-size: 13px;
}

.name-example-com {
    height: 20px;
    margin-top: 11px;
    color: rgba(204, 204, 204, 1);
    text-align: left;
    line-height: 1;
    font-weight: 400;
    font-size: 20px;
    border: none;
}

.line-3x {
    outline-color: rgba(45, 34, 76, 1);
    outline-width: 1px;
    outline-style: solid;
    box-sizing: border-box;
    height: 0;
    width: 579px;
}

.inserisci-la-password {
    width: 133px;
    height: 13px;
    margin-top: 24px;
    color: rgba(35, 31, 32, 1);
    text-align: left;
    line-height: 1;
    font-weight: 700;
    font-size: 13px;
}

.box_1 {
    font-weight: 400;
    text-align: left;
    color: rgba(204, 204, 204, 1);
    margin-top: 11px;
    justify-content: space-between;
    display: flex;
    gap: 441px;
    box-sizing: border-box;
    height: 20px;
    width: 566px;
}

.scrivila-qui {
    flex-grow: 1;
    height: 20px;
    line-height: 1;
    font-size: 20px;
    border: none;
    color: rgba(204, 204, 204, 1);
}

.vector {
    box-sizing: border-box;
    height: 17px;
    width: 25px;
}

.line-2x {
    outline-color: rgba(45, 34, 76, 1);
    outline-width: 1px;
    outline-style: solid;
    box-sizing: border-box;
    height: 0;
    width: 579px;
}

.rectangle-10 {
    font-weight: 700;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border-radius: 11px;
    margin-top: 57px;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    background-color: rgba(0, 87, 255, 1);
    padding-right: 215px;
    padding-left: 256px;
    padding-bottom: 22px;
    padding-top: 17px;
    box-sizing: border-box;
    width: 577px;
}

#reset-password {
    padding-right: 200px;
}

.registrati-1 {
    line-height: 1;
    font-size: 20px;
    background-color: rgba(0, 87, 255, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

.hai-gi-un-account-1 {
    color: rgba(45, 34, 76, 1);
    width: 200px;
    height: 13px;
    bottom: 41px;
    display: inline-block;
    line-height: 1;
    text-align: center;
    left: 247px;
    position: absolute;
}

.hai-gi-un-account-text {
    display: inline;
    text-decoration: underline;
    line-height: 1;
    font-weight: 400;
    font-size: 13px;
}

.accedi-a {
    display: block;
    width: 400px;
    margin-bottom: 5px;
    position: relative;
    right: 45%;
}

.accedi-text-1x-1 {
    display: inline;
    text-decoration: underline;
    line-height: 1;
    font-weight: 700;
    font-size: 13px;
}

.layout-38 {
    font-weight: 700;
    color: rgba(19, 64, 119, 1);
    text-align: center;
}

.crea-il-tuo-account {
    width: 320px;
    height: 32px;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    line-height: 1;
    font-size: 32px;
    position: absolute;
    top: 205px;
    left: 0;
}

/* eventi styles */
#eventi-title {
    width: 700px;
}

.row {
    position: absolute;
    bottom: 10%;
    width: 80%;
    height: 600px;
    border: 1px rgba(19, 64, 119, 1);
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.rectangle-9-rectangle-9x {
    border-radius: 19px;
    box-shadow: 0px 0px 0px 1px rgba(19, 64, 119, 1) inset;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    /* height: 220px; */
    width: 349px;
}

.nome-evento {
    color: rgb(44, 50, 63);
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 15px;
}

.data-evento {
    color: rgb(215, 214, 214);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 25px;
}

.text-evento {
    color: rgb(72, 69, 69);
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 25px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.rectangle-edit {
    border-radius: 8px;
    background-color: rgb(253, 228, 0);
    box-sizing: border-box;
    height: 59px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rectangle-delete {
    border-radius: 8px;
    background-color: rgb(253, 0, 0);
    box-sizing: border-box;
    height: 59px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#rectangle-join {
    border-radius: 8px;
    background-color: rgba(0, 87, 255, 1);
    box-sizing: border-box;
    height: 59px;
    width: 289px;
}

.text-decoration {
    text-decoration: none;
    color: white;
    text-align: center;

}

#container-join {
    padding: 25px;
}

.ellipse-2 {
    bottom: 399px;
    right: 33px;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    box-sizing: border-box;
    height: 181px;
    width: 181px;
}

.ellipse-3 {
    position: absolute;
    top: 318px;
    left: 0;
    box-sizing: border-box;
    height: 358px;
    width: 180px;
}

.rectangle-1x-1 {
    border-radius: 13px;
    box-shadow: 0px 0px 0px 0px black inset;
    background-color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 4px 18px -6px rgba(45, 34, 76, 1));
    box-sizing: border-box;
    height: 127px;
    width: 0;
}

.push-input {
    /* width: 100%; */
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.push-input:focus,
.push-input:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}